@media screen and (max-width: 600px) {
    .container {
        width: 400px;
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .container {
        background-color: transparent;
        width: 300px;
        margin-left: 0px;
    }

    .titulo h2 {
        position: relative;
        left: 20px;
    }

    .subtitulo p {
        position: relative;
        left: 20px;
    }

    .input-email input {
        width: 290px;
    }

    .input-senha input {
        width: 290px;
    }

    .label-1 label {
        left: -100px;
        top: -7px;
    }

    .label2 label {
        left: -100px;
        top: -7px;
    }

    .check input {
        left: -60px;
    }

    .check label {
        left: -63px;
    }

    .span span {
        left: 105px;
    }

    .botao button {
        width: 280px;
        position: relative;
        left: 20px;
    }

    .span-2 span {
        position: relative;
        left: 24px;
    }

}